@model WebDev.Application.Models.Concept

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Concept</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Pxordx" class="control-label"></label>
                <input asp-for="Pxordx" class="form-control" />
                <span asp-validation-for="Pxordx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Oldpxordx" class="control-label"></label>
                <input asp-for="Oldpxordx" class="form-control" />
                <span asp-validation-for="Oldpxordx" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codetype" class="control-label"></label>
                <input asp-for="Codetype" class="form-control" />
                <span asp-validation-for="Codetype" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concept_class_id" class="control-label"></label>
                <input asp-for="Concept_class_id" class="form-control" />
                <span asp-validation-for="Concept_class_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Concept_id" class="control-label"></label>
                <input asp-for="Concept_id" class="form-control" />
                <span asp-validation-for="Concept_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vocabulary_id" class="control-label"></label>
                <input asp-for="Vocabulary_id" class="form-control" />
                <span asp-validation-for="Vocabulary_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Domain_id" class="control-label"></label>
                <input asp-for="Domain_id" class="form-control" />
                <span asp-validation-for="Domain_id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Track" class="control-label"></label>
                <input asp-for="Track" class="form-control" />
                <span asp-validation-for="Track" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Standard_concept" class="control-label"></label>
                <input asp-for="Standard_concept" class="form-control" />
                <span asp-validation-for="Standard_concept" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code" class="control-label"></label>
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codewithperiods" class="control-label"></label>
                <input asp-for="Codewithperiods" class="form-control" />
                <span asp-validation-for="Codewithperiods" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codescheme" class="control-label"></label>
                <input asp-for="Codescheme" class="form-control" />
                <span asp-validation-for="Codescheme" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Long_desc" class="control-label"></label>
                <input asp-for="Long_desc" class="form-control" />
                <span asp-validation-for="Long_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Short_desc" class="control-label"></label>
                <input asp-for="Short_desc" class="form-control" />
                <span asp-validation-for="Short_desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code_status" class="control-label"></label>
                <input asp-for="Code_status" class="form-control" />
                <span asp-validation-for="Code_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code_change" class="control-label"></label>
                <input asp-for="Code_change" class="form-control" />
                <span asp-validation-for="Code_change" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code_change_year" class="control-label"></label>
                <input asp-for="Code_change_year" class="form-control" />
                <span asp-validation-for="Code_change_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code_planned_type" class="control-label"></label>
                <input asp-for="Code_planned_type" class="form-control" />
                <span asp-validation-for="Code_planned_type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code_billing_status" class="control-label"></label>
                <input asp-for="Code_billing_status" class="form-control" />
                <span asp-validation-for="Code_billing_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code_cms_claim_status" class="control-label"></label>
                <input asp-for="Code_cms_claim_status" class="form-control" />
                <span asp-validation-for="Code_cms_claim_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex_cd" class="control-label"></label>
                <input asp-for="Sex_cd" class="form-control" />
                <span asp-validation-for="Sex_cd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Anat_or_cond" class="control-label"></label>
                <input asp-for="Anat_or_cond" class="form-control" />
                <span asp-validation-for="Anat_or_cond" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poa_code_status" class="control-label"></label>
                <input asp-for="Poa_code_status" class="form-control" />
                <span asp-validation-for="Poa_code_status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poa_code_change" class="control-label"></label>
                <input asp-for="Poa_code_change" class="form-control" />
                <span asp-validation-for="Poa_code_change" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Poa_code_change_year" class="control-label"></label>
                <input asp-for="Poa_code_change_year" class="form-control" />
                <span asp-validation-for="Poa_code_change_year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valid_start_date" class="control-label"></label>
                <input asp-for="Valid_start_date" class="form-control" />
                <span asp-validation-for="Valid_start_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Valid_end_date" class="control-label"></label>
                <input asp-for="Valid_end_date" class="form-control" />
                <span asp-validation-for="Valid_end_date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Invalid_reason" class="control-label"></label>
                <input asp-for="Invalid_reason" class="form-control" />
                <span asp-validation-for="Invalid_reason" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Create_dt" class="control-label"></label>
                <input asp-for="Create_dt" class="form-control" />
                <span asp-validation-for="Create_dt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" /> |
                <a onclick="window.history.go(-1);" class="btn btn-outline-info">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
