@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightgrey;">
    <div class="text-center">
        <h1 class="display-4" style="font-family:verdana;text-align:center;font-size:400%;">Welcome</h1>
        <h1 class="display-4" style="font-family:verdana;text-align:center;font-size:150%;">to</h1>
        <h1 class="display-4" style="font-family:verdana;text-align:center;font-size:200%;">Users - Concepts</h1>
    </div>
</body>