@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4" style="margin-bottom: 30px;">Welcome to WebDev Application</h1>
        <p class="mb-0" style="padding-top: 30px; padding-bottom: 30px;">Web Development Application using ASP .Net Core and MVC pattern.</p>
        <p class="mb-0" style="padding-bottom: 30px;">Developer: David Hernández Cárdenas.</p>
        <img class="rounded" src="https://media-exp1.licdn.com/dms/image/C4E03AQFTLF5mVe396g/profile-displayphoto-shrink_200_200/0/1601784172820?e=1613001600&v=beta&t=0dA0iS26RVA2sp0udMuXxVgE-rVEFQU8kjcFDXUyEI0">
    </div>
